<footer>
	<ul>
		<li>Company registered in England and Wales #10170674</li>
		<li>&copy; {{ site.time | date: '%Y' }} {{ site.title }} Ltd</li>
	</ul>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyChKgEbKWinfzwUH2EWjsbAx_63KvWk9BU&callback=initMap" async defer></script>
<script src="{{ "/js/map.min.js" }}"></script>
<script src="{{ "/js/form.min.js" }}"></script>
<script src="{{ "/js/scroll.min.js" }}"></script>
