article {
	padding: 0 0 12em 0;
}

article h1 {
	margin: 0;
	padding: 0.4em 4%;
	font-size: 1.4em;
	background-color: #04a7ed;
}

article h1 + * {
	margin-top: 2em;
}

article img {
	margin: 0 1em 1em 0;
}

article li {
	margin: 0 0 0.5em 0;
}

article > * {
	padding: 0 4%;
}
