* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #384452;
}

div {
	line-height: 1.6em;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	line-height: 1.6em;
	list-style-type: none;
	display: inline;
}

address {
	line-height: 1.6em;
	font-style: normal;
}

img {
	max-width: 100%;
}

#map {
	margin: 0;
	width: 100%;
	height: 22em;
}

.hidden {
	display: none;
}

.alert {
	margin: 1em 0 0 0;
	padding: 2em 6%;
	width: 100%;
	text-align: center;
}

.success {
	@extend .alert;
	background-color: #dff0d8;
}

.error {
	@extend .alert;
	background-color: #f2dede;
}
