footer {
	margin: 0;
	padding: 1em 0;
	background-color: #363636;
	color: #aaa;
}

footer:after {
	content: "";
	display: table;
	clear: both;
}

footer div {
	margin: 0 0 1em 6%;
}

footer ul:last-child {
	margin: 0 0 0 6%;
}

footer a {
	color: #aaa;
	margin: 0;
	padding: 0;
}
