form {
	width: 100%;
}

label {
	display: inline-block;
	width: 50%;
}

label:last-of-type {
	width: 100%;
}

input,
textarea {
	width: 100%;
	margin: 1em 0;
	padding: 0.6em 1em;
	line-height: 1.7em;
	outline: none;
	border: 0.1em solid #ddd;
	font-family: inherit;
	font-size: inherit;
	color: #384452;
	background-color: #fff;
}

input[type=submit] {
	width: auto;
	margin: 0;
	cursor: pointer;
}

label:nth-child(even) input {
	border-left-style: none;
}
