header {
	margin: 0;
	padding: 0;
	height: 48em;
	background-image: url(/images/knowledge-dock.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -6em;
	text-align: center;
}

header img {
	margin: 2em 0 0 0;
}
