* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Serif', serif;
  line-height: 1.75;
}
header {
  background-image: url("/assets/images/knowledge-dock.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  text-align: center;
}
header h1 {
  color: #ffffff;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 25rem;
}
section:nth-of-type(1) {
  background-color: #ffffff;
  overflow: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
	text-align: center;
}
section:nth-of-type(1) img {
  display: inline-block;
  height: 5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 5rem;
}
section:nth-of-type(1) h2 {
  color: #000000;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
section:nth-of-type(2) {
	background-color: #eeeeee;
	overflow: auto;
  padding-left: 2rem;
  padding-right: 2rem;
	padding-top: 2rem;
	text-align: center;
}
section:nth-of-type(2) h2 {
  color: #000000;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
section:nth-of-type(2) input[type="text"] {
  border-right-style: none;
  display: inline-block;
  margin-bottom: 1rem;
  width: 50%;
}
section:nth-of-type(2) input[type="email"] {
  display: inline-block;
  margin-bottom: 1rem;
  width: 50%;
}
section:nth-of-type(2) input[type="email"]:focus {
  border-left-style: solid;
}
section:nth-of-type(2) textarea {
  margin-bottom: 1rem;
  width: 100%;
}
section:nth-of-type(2) input[type="submit"] {
  display: block;
}
section:nth-of-type(3) {
	background-color: #ffffff;
	overflow: auto;
	text-align: center;
}
section:nth-of-type(3) iframe {
  height: 25rem;
  width: 100%;
}
section:nth-of-type(4) {
  background-color: #565656;
  overflow: auto;
  padding-left: 2rem;
  padding-right: 2rem;
	padding-top: 2rem;
	text-align: center;
}
section:nth-of-type(4) a {
  color: #aaaaaa;
}
section:nth-of-type(4) p {
  color: #aaaaaa;
}
section:nth-of-type(4) img {
  display: inline-block;
  height: 2.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 2.5rem;
}
footer {
	background-color: #464646;
	overflow: auto;
  padding-left: 2rem;
  padding-right: 2rem;
	padding-top: 2rem;
	text-align: center;
}
footer p {
  color: #aaaaaa;
}

@media (min-width: 480px) {
  header h1 {
    font-size: 3rem;
  }
  section:nth-of-type(1) h2 {
    font-size: 2.5rem;
  }
  section:nth-of-type(2) h2 {
    font-size: 2.5rem;
  }
}