@media (min-width: 34em) {}

@media (min-width: 68em) {
	header img {
		margin: 2em 0 16em 0;
	}

	footer ul {
		margin: 0 24% 0 24%;
	}

	footer li:last-child {
		display: inline;
	}

	form {
		margin: 0 24% 0 24%;
	}

	h1 {
		margin: 0 24% 0 24%;
		padding: 3em 0 0 0;
		line-height: 1.6em;
	}

	h2 {
		margin: 0 24% 0 24%;
	}

	p {
		margin: 0 24% 0 24%;
	}
}

@media (min-width: 78em) {}
