section {
	margin: 0;
	padding: 0;
}

#a {
	padding: 3em 0 3em 0;
	text-align: center;
}

#a img {
	height: 5em;
	width: 5em;
	display: inline-block;
	margin: 0 2em 2em 2em;
}

#b {
	background-color: #eee;
	padding: 3em 0 3em 0;
}

#b h2 {
	text-align: center;
}

#b p {
	text-align: center;
}

#c {
	background-color: #eee;
	padding: 0 0 3em 0;
	text-align: center;
}

#c img {
	margin: 0 1em 0 1em;
}

#d {
	padding: 3em 0 3em 0;
	background-color: #565656;
	color: #aaa;
}

#d:after {
	content: "";
	display: table;
	clear: both;
}

#d h2 {
	margin: 0 0 0 6%;
}

#d ul {
	margin: 0 0 1em 6%;
}

#d li {
	display: block;
}

#d address {
	margin: 0 0 1em 6%;
}
